@charset "utf-8";
.titprin {
	font-family: "Comic Sans MS", cursive;
	font-size: 50px;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	color: #603;
	text-decoration: line-through blink;
	text-align: center;
	vertical-align: middle;
}
.tit {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	font-style: oblique;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #F30;
	text-align: center;
	vertical-align: middle;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000;
	text-align: justify;
}
.fondo {
	background-attachment: scroll;
	background-color: #FFF;
	background-image: url(Imagenes/fondo.jpg);
	background-repeat: repeat;
}
div.caja {
	background-color: #FFFFFF;
	border: 1px solid #000;
	opacity: 0.6;
	width: 100%;
	height:100%;
}
.fuente {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: oblique;
	line-height: normal;
	color: #F63;
	text-align: right;
}
.campos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #390;
	text-align: center;
	vertical-align: middle;
}
